/* homepage */
#homepage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#home_content{
    width: clamp(320px, 80%, 1500px);
    display: grid;
    grid-template-columns: 320px;
}


#card{
    width: 320px;
    height: 500px;
    margin: 2rem 0;
    border: 2px solid black;
    padding: 10px;
}

#card_img{
    width: 300px;
    height: 300px;
    overflow: hidden;
}
#card_ img img{
    height: 100%;
    object-fit: cover;
}

#card_text{
    height: 200px;
}

#card_text h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

#card-text p{
    font-size: 1.25rem;
    color: #717171;
}

#card_text_excerpt{
    height: 100px;
    overflow-y: hidden;
    margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------*/